:root {
  --blue: #3aa0ff;
  --blue_trans1: #e1f1ff;
  --blue_trans2: #eff7ff;
  --orange: #fc683a;
  --orange_trans: #fedace;
}

body {
  margin: 0;
  padding: 0 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.monaco-editor .current-line ~ .line-numbers {
  color: var(--orange);
  border-left: 4px solid var(--orange);
}

.monaco-editor .margin-view-overlays .current-line,
.monaco-editor .view-overlays .current-line {
  background-color: var(--orange_trans);
  color: var(--orange);
}
